@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@font-face {
    font-family: 'Mona Sans';
    src: url('Mona-Sans.woff2') format('woff2 supports variations'), url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}


html {
  font-family: 'Mona Sans';
}

*, 
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(13, 8, 46);
}


.logo{
    width: 50px;
}



.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}




.card {
    position:absolute;
    top:20%;
    left:5%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index:2;
}

.card1 {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index: 2;
}

.card2 {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index: 2;
}

.card3 {
    position: absolute;
    top: 20%;
    left: 80%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index: 2;
}

.card4 {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index: 2;
}

.card5 {
    position: absolute;
    top: 55%;
    left: 30%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index: 2;
}

.card6 {
    position: absolute;
    top: 55%;
    left: 55%;
    width: 256px;
    height: 256px;
    border-radius: 30px;
    background: rgba(0,0,0,0.03);
    box-shadow: 15px 15px 30px rgba(0,0,0,0.8), -15px -15px 30px rgba(255,255,255,0.09);
    z-index: 2;
}



.ac1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac1.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

.ac2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac2.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

.ac3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac3.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

.ac4 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac4.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

.ac5 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac5.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

.ac6 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac6.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

.ac7 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    max-width: 250px;
    color: azure;
    content: "";
}

.ac7.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.95rem;
    /* max-width: fit-content; */
    color: darkgray;
}

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 0.5vh;
    padding-top: 0.7vh;
    padding-left: 1.5vw;
    border-bottom: 1px solid rgb(244, 233, 255, 0.44);
}

header nav{
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display:flex;
    list-style: none;
    align-items: center;
}


header a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

header p {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

main{
    position: relative;
    background-color: rgb(35, 34, 34);
    height: 100vh;
    overflow: hidden;
}



.accenttext{
    font-size:4.5vh;
    color: rgb(100, 87, 186);
}

.accenttext2 {
    font-size: 4.5vh;
    color: rgb(242, 131, 168);
}

.accenttext3 {
    font-size: 4.5vh;
    color: rgb(246, 177, 150);
}

.accenttext4 {
    font-size: 4.5vh;
    color: rgb(242, 233, 131);
}

.accenttext5 {
    font-size: 4.5vh;
    color: rgb(131, 242, 242);
}



.container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    z-index: 999;
}


.text1 {
    position: absolute;
    max-width:750px;
    margin-top: 1.7vw;
    margin-left: 1vw;
    margin-right: 40vw;
    text-align: left;
    font-family:'Mona Sans';
    font-weight: 500;
    font-size: 2.7vh;
    font-stretch: 100%;
    color: white;
    top: 43%;
    left: 24.7%;
    z-index: 2;
}





::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(65, 65, 65, 0.24);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: rgb(151, 151, 151, 0.5);
    border-radius: 10px;
}




    